*{
    padding: 0;
    margin: 0;
    border-width: 0;
}
img{
    width: 50px;
}
.content{
    width: 90vw;
    height: 90vh;
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
}
.title{
    margin: 30px 0 50px 0;
    font-size: 40px;
    text-transform: uppercase;
}
.selects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}
.selects>div{
    transform-style: preserve-3d;
}
.select{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}
.select>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition-duration: 1s;
}
.select>div:nth-of-type(1){
    justify-content: space-between;
}
.select-title{
    margin: 30px 0;
}
.select-title>p{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 200;
}
.select>div:nth-of-type(1)>ul{
    width: 70%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
 }
.select>div:nth-of-type(1) li{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select>div:nth-of-type(1) li:last-child{
    border: none;
}
.select>div:nth-of-type(2){
    justify-content: center;
    position: absolute;
    transform: rotateY(180deg) translateZ(1px);
}
.select>div:nth-of-type(2) p{
    text-transform: uppercase;
}
.select>div:nth-of-type(2) span{
    font-size: 50px;
    margin: 20px 0 100px 0;
    font-weight: 200;
}
.select>div:nth-of-type(2) div{
    width: 120px;
    height: 50px;
    background: white;
    color: #333;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-weight: 200;
}
.select:nth-of-type(1)>div:nth-child(1){
    background: linear-gradient(135deg,rgba(101, 179, 245),rgba(242, 4, 209));
}
.select:nth-of-type(2)>div:nth-child(1){
    background: linear-gradient(135deg,rgba(255, 234, 98),rgba(243, 36, 213));
}
.select:nth-of-type(3)>div:nth-of-type(1){
    background: linear-gradient(135deg,rgba(153, 80, 254),rgba(37, 253, 115));
}

.select:nth-of-type(1)>div:nth-child(2){
    background: linear-gradient(135deg,rgba(242, 4, 209),rgba(101, 179, 245));
}
.select:nth-of-type(2)>div:nth-child(2){
    background: linear-gradient(135deg,rgba(243, 36, 213),rgba(255, 234, 98));
}
.select:nth-of-type(3)>div:nth-of-type(2){
    background: linear-gradient(135deg,rgba(37, 253, 115),rgba(153, 80, 254));
}

.select:hover{
    transform: rotateY(180deg);
    transition: all 1s;
}